@font-face {
  font-family: Inter-Regular;
  src: url(Inter-Regular.ttf);
}
html{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vh;
  user-select: none;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family:Inter-Regular ;
  overflow: hidden;
}
.defaultBorder{
  border: 1px solid white;
}
#container{
  display: grid;
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  grid-template-areas: "side hero";
  grid-template-columns: min(17%,251px) auto;
  
}
.sidepanel{
  grid-area: side;
  background: #0f172a;
  border-right: 1px solid rgb(33, 44, 64);
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto auto;
  align-items: end;
  position: relative;
  width: 100%;
  min-width: 180px;
  max-width: 250px;
}
.main{
  grid-area: hero;
  background-color: #0f172a;
  display: grid;
  grid-template-rows: 80px auto 100px;
  overflow: hidden;
  height: 100vh;
}
.Title{
  font-weight: bolder;
  font-size: 1.5em;
  height: 30px;
  padding: 20px;
}
.discover{
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
h4.title {
  padding-left: 20px;
}
ul{
  list-style:none ;
  padding-left: 10px;
}
li.sideoptions{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  min-width: 136px;
  padding: 6px;
  padding-left: 10px;
  border-radius: 5px;
  position: relative;
  width: 79%;
}
li.sideoptions:hover{
  background-color:#1e293b;

}
svg {
  height: 24px;
  width: 24px;
}
.sideoptions > span{
  height: 24px;
  padding-right: 5px;
}
h6{
  margin: 0;
  padding: 0;
}
.card-wrappers > div.card{
  position: relative;
  width: 150px;
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 3px;
  background: rgb(57 83 239 / 12%);
}
.card-wrappers > div.card:hover{
  background-color: rgb(2, 1, 1);
}
.tabs,.content{
  border-bottom: 1px solid rgb(33, 44, 64);
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.content{
  overflow: hidden;
}
div.tabs{
  display: grid;
  grid-template-columns: 500px auto 100px;
  align-items: center;
  /* justify-items: center; */
}
.musicgrid{
  position: relative;
  padding: 30px; 
  overflow-y: scroll;
  height: 90%;
    box-sizing: border-box;
}
.musicgrid::-webkit-scrollbar {
  display: none;
}
.card-wrappers{
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-gap: 20px;
  justify-content: center;
}
div.card > div.lang{
  position: absolute;
    transform: translate(0px, 0px);
    z-index: 2;
    background-color: #1e293b;
    padding: 4px;
    border-radius: 3px;
}
img{
    position: relative;
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.imagecard > img{
  border-radius: 5px;
}
div.songinfo{
  max-width: 150px;
  White-Space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.songAuthor{
  font-size:12px;
}
.tab-title{
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.content > div.tab-title{
  transform: translate(10px, 24px);
}
/* .tabs > div.tab-title{
  transform: translate(10px, 10px);
} */
input#Searchbar{
  width: 400px;
  background-color: #0f172a;
  color: white;
  font-weight:600;
  padding: 8px;
  border: 3px solid white;
  border-radius: 6px;
  font-family:Inter-Regular;
  position: relative;
  margin: 5px 0 10px 0;
  /* top: 25%;
  left: 60%; */
}
input#Searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  font-family:Inter-Regular;
}
input#Searchbar:focus, textarea#Searchbar:focus, select#Searchbar:focus{
  outline: none;
}
div.straw-hats-joly-roger{
  /* position: absolute; */
  /* top: 50%;
  left: 100%;
  transform: translate(-100%,-50%); */
}
.straw-hats-joly-roger > svg {
  height: 55px;
  width: 50px;
}
div.LibNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px 5px 0px;
  /* width: 400px; */
}
/* div.LibNav> h4.title{
  margin: 0 10px 0 0;
} */
div.LibNav > .ui-navigation-bar-parent{
  display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #1e293b;
}
ul.ui-navigation-bar-parent{
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 0;
}
ul.ui-navigation-bar-parent > li.ui-navigation-bar-child{
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  padding: 5px 10px 5px 10px;
}
ul.ui-navigation-bar-parent > li.ui-navigation-bar-child >span{
  height: 24px;
}
ul.ui-navigation-bar-parent > li.ui-navigation-bar-child:hover{
  color: black;
  background-color: white;
}
ul.ui-navigation-bar-parent > li.ui-navigation-bar-child.selected{
  background-color: #0f172a;
    color: white;
}
div.preview{
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-bottom: 1px solid rgb(33, 44, 64);
  border-top: 1px solid rgb(33, 44, 64);
}
.preview > img{
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}
#playerControls{
  position: relative;
  display: grid;
  grid-template-columns:  minmax(150px,300px) auto 300px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#playerControls > div >div.media-meta{
  min-width: 150px;
  max-width: 300px;
}
.media-controls{
  position: relative;
  width: calc(100%);
  min-width: 430px;
}
div.slidebar{
  display: flex;
  justify-content: center;
  margin: 15px;
  align-items: center;
  column-gap: 20px;
}
div.slidebar > span{
  width: 90px;
  text-align: center;
}
input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  height: 4px;
  outline: none;
  border-radius: 2px;
}
input#seekBar{
  width: 48%;
  /* background-color: rgb(57 83 239 / 12%); */
  min-width: 350px;
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  /* display: none; */
  box-sizing: content-box;
  border: 2px solid #024769;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(33, 44, 64);
  cursor: pointer;
}
div.slidebar>input[type="range"]:hover::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  display: block;
  box-sizing: content-box;
  border: 2px solid #024769;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(33, 44, 64);
  cursor: pointer;
}
div.play-pause-controls{
  display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

button.play-pause{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
}
button.play-pause > span{
  position: relative;
    display: inherit;
    width: inherit;
    aspect-ratio: 1/1;
    border-radius: inherit;
    border: none;
}
button.play-pause > span.pause{
  display: none; 
}
button.play-pause.pause > span.pause{
  display: block; 
}
button.play-pause.pause > span.play{
  display: none; 
}
button.play-pause > span >svg{
  color: white;
  background-color: #0f172a;
  position: relative;
    display: block;
    width: inherit;
    height: inherit;
  border-radius: 100%;
}
button.normal{
  width: 30px;
  height: 30px;
  padding: 0;
  aspect-ratio: 1/1;
  margin: 0;
  border: 0;
  border-radius: 100%;
  background-color: transparent;
}
button.normal > span{
  display: block;
  width: inherit;
  aspect-ratio: inherit;
  border: 0;
}
button.normal > span > svg{
  color: white;
  background-color: #0f172a;
  display: block;
  width: inherit;
  aspect-ratio: inherit;
  width: inherit;
  height: inherit;
   border-radius: 100%;
   border: 3px solid white;
}
button:active > span >svg{
  background-color: white;
  color: black; 
}
button.play-pause :active>span.pause{
  display: block;
}
button.normal:active > span >svg{
  border: 3px solid black;
}
div.advanced-media-controls{
  display: flex;
}
div.volume-control{
  display: flex;
    align-items: center;
    column-gap: 20px;
}
div.sound-control{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
div.mode >span.headphones{
  display: none;
}
div.volume > span.Volume-x{
display: none;
}
div.volume > span.Volume-0{
  display: none;
}
div.volume > span.Volume-1{
  display: none;
}
div.volume > span.Volume-2{
  display: none;
}
div.volume.vx > span.Volume-x{
  display: block;
  }
  div.volume.v0 > span.Volume-0{
    display: block;
  }
  div.volume.v1 > span.Volume-1{
    display: block;
  }
  div.volume.v2 > span.Volume-2{
    display: block;
  }
#playerControls >div.media-info {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
#playerControls >div.media-info >div.playlist-like {
  display: flex;
  align-items: center;
  column-gap: 20fpx;
}
.media-meta > h3,h6{
  margin: 3px;
  max-width: 200px;
  White-Space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}