@font-face {
  font-family: Inter-Regular;
  src: url(Inter-Regular.ttf);
}
html{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  user-select: none;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family:Inter-Regular ;
  overflow: hidden;
}
.defaultBorder{
  border: 1px solid white;
}
#container{
  display: grid;
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  grid-template-areas: "side hero";
  grid-template-columns: 250px auto;
  
}
.sidepanel{
  grid-area: side;
  background:  #0f172a;
  border-right: 1px solid rgb(33, 44, 64);
}
.main{
  grid-area: hero;
  background-color: #0f172a;
  display: grid;
  grid-template-rows: 80px auto 100px;
  overflow: hidden;
  height: 100vh;
}
.Title{
  font-weight: bolder;
  font-size: 1.5em;
  height: 30px;
  padding: 20px;
}
.discover{
  height: 180px;
  box-sizing: border-box;
}
h4.title {
  padding-left: 20px;
}
ul{
  list-style:none ;
  padding-left: 10px;
}
li.sideoptions{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 5px;
}
li.sideoptions:hover{
  background-color:rgba(255, 255, 255, 0.686);
  color: black;
}
svg {
  height: 24px;
  width: 24px;
  padding-right: 5px;
}
h6{
  margin: 0;
  padding: 0;
  width: 100px;
}
.card-wrappers > div.card{
  position: relative;
  width: 150px;
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 3px;
  background: rgb(57 83 239 / 12%);
}
.card-wrappers > div.card:hover{
  background-color: rgb(2, 1, 1);
}
.tabs,.content{
  border-bottom: 1px solid rgb(33, 44, 64);
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.content{
  overflow: hidden;
}
.musicgrid{
  position: relative;
  padding: 30px; 
  overflow-y: scroll;
  height: 90%;
    box-sizing: border-box;
}
.musicgrid::-webkit-scrollbar {
  display: none;
}
.card-wrappers{
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-gap: 20px;
  justify-content: center;
}
img{
    position: relative;
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.imagecard > img{
  border-radius: 5px;
}
div.songinfo{
  max-width: 150px;
  White-Space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.songAuthor{
  font-size:12px;
}
.tab-title{
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.content > div.tab-title{
  transform: translate(10px, 24px);
}
.tabs > div.tab-title{
  transform: translate(10px, 15px);
}
.tabs > #Searchbar{
  width: 400px;
  background-color: #0f172a;
  color: white;
  font-weight:600;
  padding: 8px;
  border: 3px solid white;
  border-radius: 6px;
  font-family:Inter-Regular;
  position: relative;
  top: 25%;
  left: 60%;
}
.tabs > #Searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  font-family:Inter-Regular;
}
input#Searchbar:focus, textarea#Searchbar:focus, select#Searchbar:focus{
  outline: none;
}
div.straw-hats-joly-roger{
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%,-50%);
}
.straw-hats-joly-roger > svg {
  height: 55px;
  width: 50px;
}